html, body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    /* position: relative; */
}

header{
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;

}

.me{
    margin-left:150px;
    margin-right:150px;
    margin-top: 60px;
}

#navbar{
    /* position: fixed; */
    top:0;
}

nav ul li{
   
    display: inline;
    padding: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section{
    margin-bottom: 20px;
    height: 100%;
    padding: 1px;
    
}

#about{
    background-image: url('./images/about.jpg');
    background-size: cover;
    /* backdrop-filter: blur(4px); */
    /* background-color: rgba(255,255,255,0); */
    color: #fff;
}

#about h2{
    font-size: 60px;
}

#education{
    background-image: url('./images/education.jpg');
    background-size: cover;
}

#project{
    display: flex;
    
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    /* box-sizing: border-box; */
}

#projects{
    background-image: url('./images/project.jpg');
    background-size: cover;
        padding-top: 50px;
        align-items: center;
        height: 100%;
        width: 100%;
        /* background-color: aquamarine; */
}

#projects h1{
    margin: 60px;
    font-size: 50px;
    text-align: center;
    color: #080808;
}

.pro{
    margin: 10px;
    padding : 40px;
    border-width:2px;
    border-style:solid;
    border-color:rgb(6, 6, 6);
    color: #030303;
    height: 60%;
}

#contact{
    background-color: rgb(7, 7, 7);
    color: #f7f4f4;
    text-align: center;
    font-size: 40px;
    height : 30%;
}

#intro{
    justify-content: space-between;
    font-size: 20px;
}

#intro h3{
    margin-top: 70px;
    font-size: 35px;
}

#intro li{
    margin:2px;
    justify-content: space-around;
}

#con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon p{
    margin-left: 20px;
    font-size: 23px;
}

